<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/3959db2254.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link th:href="@{/styles/lightbox.css}" rel="stylesheet" />
  </head>
  <body style="font-family: 'Cairo', sans-serif;">
    <div class="container-fluid pl-0 pr-0">
      <div th:replace="header::header"></div>

      <div class="container-fluid">
        <div class="report">
          <h2 style="margin-top: 130px; " class="text-center">
            <a href="#" style="text-decoration: none;">الابلاغ عن الاعلان </a>
          </h2>
          <!--   <form
            onsubmit="deletead(event)"
            th:method="delete"
            action="/aaad/deletead"
            class="text-center"
            th:if="${#strings.equals(currentAd.getUser().getUserName(),session[SPRING_SECURITY_CONTEXT].getAuthentication().getPrincipal().getUsername())}"
          > -->
          <div
            th:if="${#strings.equals(currentAd.getUser().getUserName(),session[SPRING_SECURITY_CONTEXT].getAuthentication().getPrincipal().getUsername())}"
          >
            <input
              style="font-size:20px"
              type="button"
              class="welcome-btn btn btn-primary"
              value="حذف الاعلان"
              onclick="deletead(event)"
            />

            <input
              name="id"
              id="id"
              type="hidden"
              th:value="${currentAd.getId()}"
            />
          </div>
        </div>
        <div class="row">
          <div
            class="col-3 border-right p-5"
            style="margin-top:180px;color: #f64c72; "
          >
            <h4>رقم الهاتف:</h4>
            <span
              style="color:black"
              th:text="${currentAd.getPhoneNumber()}"
            ></span>
            <h4 style="padding-top:50px ;">
              الاميل:<a
                style="text-decoration:none;color:#007bff"
                th:href="@{|/profile?username=${currentAd.getUser().getUserName()}|}"
                ><span th:text="${currentAd.getUser().getUserName()}"></span
              ></a>
            </h4>
          </div>
          <div class="col-9">
            <section class=" justify-content-center text-center ">
              <ul
                class="nav nav-tabs"
                style="margin-top: 100px; margin-left: -70px;"
              >
                <li
                  style="visibility: hidden; margin-left: 70px;"
                  class="nav-item"
                >
                  <a href="" class="nav-link"></a>
                </li>

                <li class="nav-item">
                  <a
                    href="#disc"
                    aria-controls="home"
                    aria-selected="true"
                    class="nav-link active tab-item"
                    data-toggle="tab"
                    >الوصف</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle tab-item"
                    href=""
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    معاينة
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                      class="dropdown-item tab-item"
                      href="#images"
                      id="myimage"
                      data-toggle="tab"
                      aria-controls="home"
                      aria-selected="true"
                      >الصور</a
                    >
                    <a
                      class="dropdown-item tab-item"
                      href="#video"
                      id="myvideo"
                      data-toggle="tab"
                      aria-controls="home"
                      aria-selected="true"
                    >
                      الفيديوهات</a
                    >
                  </div>
                </li>
              </ul>
              <div class="tab-content" id="mytab">
                <div
                  style="width:100%; height: 300px;overflow-y: scroll;margin-left: -60px;"
                  class="tab-pane show active"
                  id="disc"
                  aria-labelledby="mydisc"
                >
                  <input type="hidden" th:value="${currentAd.id}" />
                  <span th:text="${currentAd.getDescribtion()}"></span>
                </div>
                <div class="tab-pane" id="images" aria-labelledby="myimage">
                  <div class="row">
                    <figure th:each="img:${imgs}" class="col-3">
                      <a
                        href="../static/images/3r.jpg"
                        data-lightbox="image-1"
                        data-size="1600x1067"
                        th:href="@{|/upload/images/${currentAd.id}/${img}|}"
                      >
                        <img
                          class="img-fluid"
                          style="height: 200px;"
                          th:src="@{|/upload/images/${currentAd.id}/${img}|}"
                        />
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="tab-pane" id="video" aria-labelledby="myvideo">
                  <div class="row">
                    <figure class="col-3">
                      <a href="a.mp4"
                        ><img
                          src="1.jpg"
                          style="height: 200px;"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </figure>
                    <figure class="col-3">
                      <a href="b.mp4"
                        ><img
                          src="2.jpg"
                          style="height: 200px;"
                          alt=""
                          class="img-fluid"
                      /></a>
                    </figure>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div th:replace="footer::footer"></div>
    </div>
    <script th:href="@{/scripts/lightbox-plus-jquery.min.js}"></script>
    <script th:href="@{/scripts/lightbox.js}"></script>
  </body>
  <style>
    .ad-display {
      margin-top: 150px !important;
    }
    section .nav-link {
      color: #007bff;
    }
    section {
      margin-left: 25%;
    }
    /*.tab-item {
          color: black !important;
        }*/
    .tab-item:focus {
      color: red !important;
    }
  </style>
  <script>
    const token = document.querySelector('meta[name="_csrf"]');
    const header = document.querySelector('meta[name="_csrf_header"]');
    console.log(header);
    console.log(token);
    $(".dropdown-menu a").click(function() {
      $("#navbarDropdown").text($(this).text());
    });
    $(function() {
      $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
    function deletead(e) {
      console.log(e);
      const xhr = new XMLHttpRequest();
      xhr.open("DELETE", "./ad/deletead", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.setRequestHeader(header.content, token.content);
      xhr.send(`id=${document.querySelector("#id").value}`);
      xhr.onload = () => {
        console.log(xhr);
        if (xhr.responseText === "advertise has been deleted")
          window.location.href = "/";
      };
      xhr.onreadystatechange = function() {
        console.log(this);
      };
      /*  $(function () {
                var token = $("input[name='_csrf']").val();
                var header = "X-CSRF-TOKEN";
                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            });

            $.ajax({
                url: "./ad/deletead",
                type: "POST",
                success: function (response) {
                    alert(response);
                }
            });*/
    }
  </script>
</html>
