<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link
      href="../static/styles/style.css"
      rel="stylesheet"
      th:href="@{/styles/style.css}"
    />

    <script
      src="https://kit.fontawesome.com/3959db2254.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body style="font-family: 'Cairo', sans-serif;">
    <header th:fragment="header">
      <div class="fixed-top navbar navbar-expand-md header-navbar" style="">
        <button
          class="btn navbar-toggler navbar-light"
          data-toggle="collapse"
          data-target="#navcontents"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcontents" style="">
          <ul class="navbar-nav m-auto header-ul" style="">
            <li class="nav-item">
              <a href="#" class="nav-link" th:href="@{/}">الصفحة الرئيسية </a>
            </li>
            <li class="nav-item"><a href="#" th:href="@{/whoare}" class="nav-link">من نحن</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">تواصل معنا</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">الاسألة الشائعة</a>
            </li>
            <span th:if="${session[SPRING_SECURITY_CONTEXT]==null}"
              ><li class="nav-item">
                <a href="/signup" class="nav-link">تسجيل</a>
              </li>
              <li class="nav-item">
                <a href="adsviewer" class="nav-link"></a>
              </li>
            </span>
            <span th:if="${session[SPRING_SECURITY_CONTEXT]!=null}"
              ><li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">تسجيل خروج</a>
              </li>
              
            </span
            >
            <span th:if="${session[SPRING_SECURITY_CONTEXT]!=null}"
              >
              <li class="nav-item">
                <a th:href="@{|/profile?username=${session[user]}|}" class="nav-link">الصفحة الشخصية</a>
              </li>
            </span
            >
          
          </ul>
        </div>
      </div>
    </header>
    <div class="container-fluid pl-0 pr-0">
      <div th:replace="header::header"></div>

      <div style="margin-top: 174px;" class="main-section">
        <div
          class="text-center profile-content"
          style="background-color: #fafbfe; padding:20px"
        >
          <a href="pic.jpg">
            <img
              src="pic.jpg"
              alt=""
              class="rounded-circle"
              style="width: 68px;"
            />
          </a>
          <div
            class="text-content p-0 my-5"
            style="color: #f64c72; font-size: 22px;"
          >
            <p>
              الاسم:شرف الدين
            </p>
            <p>
              المدينة:السويس
            </p>
          </div>
        </div>

        <a
          class=" text-center"
          type="button"
          id="dropdownMenuButton"
          aria-haspopup="true"
          aria-expanded="false"
          onclick="display_toggle()
                "
        >
          <h3 class="" style="color: #f64c72; ">
            عرض الاعلانات بتاعة الشخص دا
          </h3>
        </a>

        <span th:text="${param.username}"></span>
        <ul class="list-group" style="display:none"></ul>
      </div>
    </div>
  </body>
</html>
