<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="utf-8" />

        <link th:href="@{/styles/style.css}" rel="stylesheet" />    <script
            src="https://kit.fontawesome.com/3959db2254.js"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext"
            rel="stylesheet"
            />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
            />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link th:href="@{/styles/lightbox.css}" rel="stylesheet" />
    </head>
    <body style="font-family: 'Cairo', sans-serif;">
        <div class="container-fluid pl-0 pr-0">
            <div th:replace="header::header"></div>
            <div style="margin-top: 174px;" class="main-section">
                <div
                    class="text-center profile-content"
                    style="background-color: #fafbfe; padding:20px"
                    >
                    <a href="pic.jpg">
                        <img
                            src="pic.jpg"
                            alt=""
                            class="rounded-circle"
                            style="width: 68px;"
                            />
                    </a>
                    <div
                        class="text-content p-0 my-5"
                        style="color: #f64c72; font-size: 22px;"
                        >
                        <p>
                            الاسم:شرف الدين
                        </p>
                        <p>
                            المدينة:السويس
                        </p>
                    </div>
                </div>

                <a
                    class=" text-center"
                    type="button"
                    id="dropdownMenuButton"
                    aria-haspopup="true"
                    aria-expanded="false"
                    onclick="display_toggle()
                    "
                    >
                    <h3 class="" style="color: #f64c72; ">
                        عرض الاعلانات بتاعة الشخص دا
                    </h3>
                </a>
                <ul class="list-group" style="" >


                </ul>
            </div>
            <div th:replace="footer::footer"></div>
        </div>
        <style>
            .show-list {
                height: 300px;
                overflow-y: scroll;
                display: block !important;
                color: #f64c72;
            }
        </style>
        <script>
            /* let list = document.querySelector(".list-group");
             let listelement = ["sfd", "fdsf", "adsafadsf"];
             
             list.style.display = "none";
             function display_toggle() {
             if (!list.classList.contains("show-list")) {
             list.classList.add("show-list");
             } else {
             list.classList.remove("show-list");
             console.log("g");
             }
             }*/
            let list = document.querySelector(".list-group");
            var url_string = window.location.href
            var url = new URL(url_string);
            var id = url.searchParams.get("id");
            console.log("ahoso");
            let xhr = new XMLHttpRequest();
            let ads;
            xhr.open("GET", "./sign/getadsprofile?id=" + id, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send();
            xhr.onreadystatechange = function () {
                ads = JSON.parse(this.response);
                console.log(ads);
                console.log("ahoo");
                console.log(this);
            }
            function display_toggle() {
                ads.forEach(x =>{
                    
                        let li = document.createElement("li");
                        let href = document.createElement("a");
                        href.appendChild(document.createTextNode(x.title));
                        href.href="/ad?id="+x.id;
                        
                        li.appendChild(href)
                        list.appendChild(li);
                    });
            }

        </script>
    </body>
</html>
