<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link
      href="../static/styles/style.css"
      rel="stylesheet"
      th:href="@{/styles/style.css}"
    />

    <script
      src="https://kit.fontawesome.com/3959db2254.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body style="font-family: 'Cairo', sans-serif;">
    <div class="container-fluid pl-0 pr-0">
              <div th:replace="header::header"></div>


      <div
        class="sign-form container"
        style="margin-top:83px; padding-top: 120px;"
      >
        <p id="erormsg" style="color:red;"></p>
        <h3 class="text-center">انشئ حساب</h3>
        <form
          class="signup-form border-bottom pb-5"
          method="post"
          action="/sign/register"
        >
          <div class="form-group row">
            <div class="col-md-6 col-12">
              <div class="row">
                <label
                  for="username "
                  style=""
                  class="col-md-4 col-12 col-form-label"
                  >اسم المستخدم</label
                >
                <div class="col-md-8 col-12">
                  <input
                    name="userName"
                    type="text"
                    class="form-control "
                    id="username"
                    placeholder="اسم المستخدم"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <label for="password" class="col-3 col-form-label"
                  >كلمة السر</label
                >
                <div class="col-md-9 col-12">
                  <input
                    name="password"
                    type="password"
                    class="form-control col-md-10 col-12"
                    id="password"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="repassword" class="col-md-2 col-12"
              >تأكيد كلمة السر</label
            >
            <div class="col-md-10 col-12">
              <input
                name="repassword"
                type="password"
                class="form-control"
                style="width:93%; "
                id="repassword"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="email-address" class="col-md-2 col-12"
              >البريد الالكترونى</label
            >
            <div class="col-md-10 col-12">
              <input
                name="email"
                type="email"
                class="form-control"
                placeholder="البريد الالكترونى"
                style="width: 93%"
                id="email"
              />
            </div>
          </div>
          <div class="form-group">
            <button
              type="button"
              class="welcome-btn btn btn-primary text-white text-center"
              value="تسجيل "
              id="btnsubmit"
              onclick="validate(event)"
            >
              تسجيل
            </button>
          </div>
        </form>
        <h3 class="text-center m-5" style="padding-bottom: 50px;">
          عندك حساب؟ <span><a href="/sign-in">سجل دخولك</a></span>
        </h3>
      </div>

              <div th:replace="footer::footer"></div>

    </div>
    <script src="/scripts/script.js"></script>
  </body>
</html>
