<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>تسجيل دخول</title>

    <link
      href="../static/styles/style.css"
      rel="stylesheet"
      th:href="@{/styles/style.css}"
    />

    <script
      src="https://kit.fontawesome.com/3959db2254.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body style="font-family: 'Cairo', sans-serif;">
    <div th:replace="header :: header"></div>

    <div
      class="sign-form container"
      style="margin-top:83px; padding-top: 120px;margin-bottom: 150px;"
    >
      <h3 class="text-center">سجل دخولك</h3>
      <p id="erormsg" style="color:red;"></p>
      <form
        class="signin-form"
        method="post"
        th:action="@{/login}"
        action="/login"
        onsubmit="validatelogin(event)"
      >
        <div class="form-group">
          <label class="float-right" for="username">اسم المستخدم</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="اسم المستخدم"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="float-right" for="password">كلمة السر</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
          />
        </div>
        
          <input
          type="submit"
          class="welcome-btn btn btn-primary text-white float-right mr-5"
          id="btnlogin"
          value="تسجيل دخول"
        />
        <label for="checkRememberMe">Remember me</label>
                   <input type="checkbox" name="checkRememberMe"/>

          <input type="submit" class="welcome-btn btn btn-primary text-white float-right mr-5" value="تسجيل دخول" />
      </form>
    </div>
    <h3 class="text-center" style="margin-top: 30px;margin-bottom: 70px;">
      معندكش حساب؟ <a href="/signup">اعمل واحد</a>
    </h3>
    <div th:replace="footer::footer"></div>

    <script src="/scripts/script.js"></script>
  </body>
</html>
